/* normalize.css 清除設定 */
@import url("normalize.css");
/* 設定 */
:root{
	/* font-size */
	--h1-size: 3.75rem; 	/* 60px */
	--h2-size: 1.875rem; 	/* 30px */
	--h3-size: 1.5rem; 		/* 24px */
	--h4-size: 1.25rem;		/* 20px */
	--h5-size: 1.125rem; 	/* 18px */
	--p-size: 1rem;       	/* 16px */
	--sp-size: 0.875rem;	/* 14px */
	/* color & background-color */
	--gray-color: #394150;
	--white-color: #ffffff;
	/* 字高 */
	--text-height: 1.5
}
body, html{
	font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--white-color);
}
/* 設定 end */